/* css dashboard */
.nav-link-custom:hover,
.i-link-custom:hover {
    color: grey !important;
}

.nav-link-custom:hover {
    text-decoration: underline !important;
}

td,
th {
    width: 25px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* css navbar */
.nav-link {
    color: black;
}

.nav-link:hover {
    color: RGBA(var(--bs-secondary-rgb), var(--bs-link-opacity, 1)) !important;
    color: white !important;
}

.link-underline-dark {
    text-decoration: underline;
}

.fa-arrow-right-from-bracket:hover {
    color: white;
}

.disabled {
    color: white !important;
}

.auth-link:hover {
    border-bottom: 0.5px solid black;
}

/* css section */
.card-custom {
    width: 20rem;
    height: 25rem;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 0.3s;
}

.card-custom:hover {
    background-position: right 50%;
}

.card-custom-1 {
    width: 20rem;
    height: 25rem;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.border-custom {
    border: 0;
    border-radius: 0;
    background-color: #F0F0F0
}

.border-custom:hover {
    border: 0;
    border-radius: 0;
    background-color: black;
    color: white !important;
}

/* css book.show */
.trans-scale {
    transition: 0.5s;
    transform: scale(1);
}

.trans-scale:hover {
    transform: scale(1.1);
}

/* css books.index */
.hero-section {
    padding: 300px 0 250px;
}

.overlay {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.custom-bg-btn {
    opacity: 1 !important;
}

/* mediaquery */
@media screen and (min-width: 992px) {

    /* css header */
    header {
        background-image: url('/public/Leggere-libri-velocemente.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-attachment: fixed;
        height: 100vh;
        padding-top: 10%;
        margin-top: 0 !important;
    }

    /* css section */
    .bg-img {
        background-image: url('/public/vend1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding: 15% 25%;
    }

    /* css form create/edit */
    .row-custom {
        width: 50%;
    }

    /* css dashboard */
    .btn-edit {
        display: block !important;
    }

    .icon-edit {
        display: none !important;
    }

    .height-profile {
        min-height: 75vh;
    }

    .link-dash:hover {
        background-color: #6c757d;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    /* css books.index */
    .row-index {
        justify-content: start !important;
    }

    .img-card-index {
        width: 23rem;
        height: 15rem;
    }

    /* css show */
    .margin-show {
        margin-top: 5% !important;
    }

    .div-show-book {
        width: 25rem;
        height: 35rem;
    }

    .div-show-random {
        justify-content: center !important;
    }

    .card-img-show {
        width: 16.87rem;
        height: 10rem;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    transition: 1s all;

}

.product-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1 !important;
}


@media screen and (min-width:768px) {
    .product-card {
        width: 47.7% !important;
        ;
    }

}

@media screen and (min-width:992px) {
    .product-card {
        width: 31.6% !important;
        ;
    }

}


@media screen and (min-width: 1200px) {
    .product-card {
        width: 23.5% !important;
        ;
    }

}

@media screen and (min-width: 1400px) {
    .product-card {
        width: 23.7% !important;
        ;
    }

}



.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 25px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c !important;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}