/* css dashboard */
/* .nav-link-custom:hover,
.i-link-custom:hover {
    color: grey !important;
}

.nav-link-custom:hover {
    text-decoration: underline !important;
}

td,
th {
    width: 25px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* css navbar 
.nav-link {
    color: black;
}

.nav-link:hover {
    color: RGBA(var(--bs-secondary-rgb), var(--bs-link-opacity, 1)) !important;
    color: white !important;
}

.link-underline-dark {
    text-decoration: underline;
}

.fa-arrow-right-from-bracket:hover {
    color: white;
}

.disabled {
    color: white !important;
}

.auth-link:hover {
    border-bottom: 0.5px solid black;
} */

/* css section */
.card-custom {
    width: 20rem;
    height: 25rem;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 0.3s;
}

.card-custom:hover {
    background-position: right 50%;
}

.card-custom-1 {
    width: 20rem;
    height: 25rem;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.border-custom {
    border: 0;
    border-radius: 0;
    background-color: #F0F0F0
}

.border-custom:hover {
    border: 0;
    border-radius: 0;
    background-color: black;
    color: white !important;
}

/* css book.show */
.trans-scale {
    transition: 0.5s;
    transform: scale(1);
}

.trans-scale:hover {
    transform: scale(1.1);
}

/* css books.index */
.hero-section {
    padding: 300px 0 250px;
}

.overlay {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.custom-bg-btn {
    opacity: 1 !important;
}

/* mediaquery */
@media screen and (min-width: 992px) {

    /* css header */
    header {
        background-image: url('/public/Leggere-libri-velocemente.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-attachment: fixed;
        height: 100vh;
        padding-top: 10%;
        margin-top: 0 !important;
    }

    /* css section */
    .bg-img {
        background-image: url('/public/vend1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding: 15% 25%;
    }

    /* css form create/edit */
    .row-custom {
        width: 50%;
    }

    /* css dashboard */
    .btn-edit {
        display: block !important;
    }

    .icon-edit {
        display: none !important;
    }

    .height-profile {
        min-height: 75vh;
    }

    .link-dash:hover {
        background-color: #6c757d;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    /* css books.index */
    .row-index {
        justify-content: start !important;
    }

    .img-card-index {
        width: 23rem;
        height: 15rem;
    }

    /* css show */
    .margin-show {
        margin-top: 5% !important;
    }

    .div-show-book {
        width: 25rem;
        height: 35rem;
    }

    .div-show-random {
        justify-content: center !important;
    }

    .card-img-show {
        width: 16.87rem;
        height: 10rem;
    }
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 2px 2px 7px 2px #dfdfdf;
    /* margin: 50px auto; */
    background: #fafafa;
    transition: 1s all;

}

.product-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1 !important;
}


@media screen and (min-width:768px) {
    .product-card {
        width: 47.7% !important;
        ;
    }

}

@media screen and (min-width:992px) {
    .product-card {
        width: 31.6% !important;
        ;
    }

}


@media screen and (min-width: 1200px) {
    .product-card {
        width: 23.5% !important;
        ;
    }

}

@media screen and (min-width: 1400px) {
    .product-card {
        width: 23.7% !important;
        ;
    }

}



.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
    z-index: 1;
}

.product-tumb {
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 25px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c !important;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}




/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-color: #01e37f;
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	
}

img {
			max-width: 100%;
			filter: drop-shadow(1px 1px 3px #fff);
		}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);

	.controls {
		display: flex;
		justify-content: space-between;
		padding: 0.8em;
		color: #fff;

		i {
			cursor: pointer;
		}
	}

	img {
		position: absolute;
		left: -3.5em;
		top: 2em;
		max-width: 110%;
		filter: saturate(150%) contrast(120%) hue-rotate(10deg)
			drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
	}
}

.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;

	ul {
		display: flex;
		justify-content: space-around;
	}

	li {
		float: left;
		width: 55px;
		height: 55px;
		padding: 7px;
		border: 1px solid color-secondary;
		border-radius: 3px;
	}
}

/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: color-primary;
		font-size: 1.5em;
		font-weight: 900;
	}

	span {
		font-size: 0.7em;
		color: color-secondary;
	}
}

.price {
	margin: 1.5em 0;
	color: color-highlight;
	font-size: 1.2em;

	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}

.variant {
	overflow: auto;

	h3 {
		margin-bottom: 1.1em;
	}

	li {
		float: left;
		width: 35px;
		height: 35px;
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;

		&:first-child,
		&:hover {
			border: 1px solid color-secondary;
		}
	}

	li:not(:first-child) {
		margin-left: 0.1em;
	}
}

.description {
	clear: left;
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: color-highlight;
	box-shadow: 2px 2px 25px -7px color-primary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

.description-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px; 
  overflow: hidden; 
}

.btn-hidden{
  cursor: pointer;
}

/* ----- Footer Section ----- */
footer {
	padding: 1em;
	text-align: center;
	color: #fff;

	a {
		color: color-primary;

		&:hover {
			color: color-highlight;
		}
	}
}

.img-preview {

    
    height: 250px;

  }

/* CSS Navbar */

@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }
     
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }         
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}

.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}

.navbar-scrolled {
  background-color: #fff;
}

@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}

/* Css custom */

/* Custom default button /
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; / Prevent inheritance from body /
}


/
 
Base structure*/

#header-home {
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-image: url('/public/assets/img/ecommerce-1.jpg');
    
  }
  
  .cover-container {
    max-width: 100%;
  }
  
  
  
  /*
   
  Header*/
  
  /* .nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  } */
  
  
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #C5DCDC,  #5478F0);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #C5DCDC,  #5478F0)
    }
  
  /* Generals resets and unimportant stuff */
  * { margin: 0px; padding: 0px; }
  body {
      background: #eaebec;
      font-family: "Open Sans", sans-serif; 
  }
  #view-code{
    color:#48cfad; 
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    text-decoration:none;
    position:absolute;top:640px; left:50%;margin-left:-35px;
  }
  #view-code:hover{color:#34c29e;}
  
  /* --- Product Card ---- */
   #make-3D-space{
      position: relative;
      perspective: 800px;
      width:340px;
      height:500px;
      transform-style: preserve-3d;
      transition: transform 5s;
      position:absolute;    
      top:240px;
  
  } 
  #product-front, #product-back{
      width:335px;
      height:500px;
      background:#fff;
      position:absolute;
      left:-5px;
      top:-5px;
      -webkit-transition: all 100ms ease-out; 
         -moz-transition: all 100ms ease-out; 
           -o-transition: all 100ms ease-out; 
              transition: all 100ms ease-out; 
  }
  #product-back{
      display:none;
      transform: rotateY( 180deg );
  }
  #product-card.animate #product-back, #product-card.animate #product-front{
      top:0px;
      left:0px;
      -webkit-transition: all 100ms ease-out; 
         -moz-transition: all 100ms ease-out; 
           -o-transition: all 100ms ease-out; 
              transition: all 100ms ease-out; 
  }
  #product-card{
      width:325px;
      height:490px;
      position:absolute;    
      top:10px;
      left:10px;	
      overflow:hidden;
      transform-style: preserve-3d;
      -webkit-transition:  100ms ease-out; 
         -moz-transition:  100ms ease-out; 
           -o-transition:  100ms ease-out; 
              transition:  100ms ease-out;
  }
  div#product-card.flip-10{
       -webkit-transform: rotateY( -10deg );
           -moz-transform: rotateY( -10deg );
             -o-transform: rotateY( -10deg );
                transform: rotateY( -10deg );
                 transition:  50ms ease-out; 			
  }
  div#product-card.flip90{
       -webkit-transform: rotateY( 90deg );
           -moz-transform: rotateY( 90deg );
             -o-transform: rotateY( 90deg );
                transform: rotateY( 90deg );
                 transition:  100ms ease-in; 			
  }
  div#product-card.flip190{
       -webkit-transform: rotateY( 190deg );
           -moz-transform: rotateY( 190deg );
             -o-transform: rotateY( 190deg );
                transform: rotateY( 190deg );
                 transition:  100ms ease-out; 			
  }
  div#product-card.flip180{
       -webkit-transform: rotateY( 180deg );
           -moz-transform: rotateY( 180deg );
             -o-transform: rotateY( 180deg );
                transform: rotateY( 180deg );
                 transition:  150ms ease-out; 			
  }
  #product-card.animate{
      top:5px;
      left:5px;
      width:335px;
      height:500px;
      box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
      -webkit-transition:  100ms ease-out; 
         -moz-transition:  100ms ease-out; 
           -o-transition:  100ms ease-out; 
              transition:  100ms ease-out; 
  }
  .stats-container{
      background:#fff;	
      position:absolute;
      top:386px;
      left:0;
      width:265px;
      height:300px;
      padding:27px 35px 35px;	
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out;
  }
  #product-card.animate .stats-container{
      top:272px;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  .stats-container .product_name{
      font-size:22px;
      color:#393c45;	
  }
  .stats-container p{
      font-size:16px;
      color:#b1b1b3;	
      padding:2px 0 20px 0;
  }
  .stats-container .product_price{
      float:right;
      color:#48cfad;
      font-size:22px;
      font-weight:600;
  }
  .image_overlay{
      position:absolute;
      top:0;
      left:0; 
      width:100%;
      height:100%;
      background:#48daa1;
      opacity:0;	
  }
  #product-card.animate .image_overlay{
      opacity:0.7;	
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  .product-options{
      padding:2px 0 0;
  }
  .product-options strong{
      font-weight:700;
      color:#393c45;
      font-size:14px;
  }
  .product-options span{	
      color:#969699;
      font-size:14px;
      display:block;
      margin-bottom:8px;
  }
  #view_details{	
      position:absolute;
      top:112px;
      left:50%;
      margin-left:-85px;	
      border:2px solid #fff;
      color:#fff;
      font-size:19px;
      text-align:center;
      text-transform:uppercase;
      font-weight:700;
      padding:10px 0;
      width:172px;	
      opacity:0;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  #view_details:hover{	
      background:#fff;
      color:#48cfad;
      cursor:pointer;
  
  }
  #product-card.animate #view_details{
      opacity:1;
      width:152px;
      font-size:15px;
      margin-left:-75px;
      top:115px;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 		
  }
  div.colors div{
      margin-top:3px;
      width:15px; 
      height:15px; 	
      margin-right:5px;
      float:left;
  }
  div.colors div span{
      width:15px; 
      height:15px; 
      display:block;
      border-radius:50%;
  }
  div.colors div span:hover{
      width:17px;
      height:17px;
      margin:-1px 0 0 -1px;
  }
  div.c-blue span{background:#6e8cd5;}
  div.c-red span{background:#f56060;}
  div.c-green span{background:#44c28d;}
  div.c-white span{
      background:#fff;
      width:14px;
      height:14px; 
      border:1px solid #e8e9eb;
  }
  div.shadow{
      width:335px;height:520px;
      opacity:0;
      position:absolute;
      top:0;
      left:0;
      z-index:3;
      display:none;
      background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
      background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
      background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
      background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
  }
  #product-back div.shadow{
      z-index:10;
      opacity:1;
      background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
      background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
      background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
      background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
  }
  #flip-back{
      position:absolute;
      top:20px;
      right:20px;
      width:30px;
      height:30px;
      cursor:pointer;
  }
  #cx, #cy{
      background:#d2d5dc;
      position:absolute;
      width:0px;
      top:15px;
      right:15px;
      height:3px;
      -webkit-transition: all 250ms ease-in-out;
         -moz-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
           -o-transition: all 250ms ease-in-out;
              transition: all 250ms ease-in-out;
  }
  #flip-back:hover #cx, #flip-back:hover #cy{
      background:#979ca7;
      -webkit-transition: all 250ms ease-in-out;
         -moz-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
           -o-transition: all 250ms ease-in-out;
              transition: all 250ms ease-in-out;
  }
  #cx.s1, #cy.s1{	
      right:0;	
      width:30px;	
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #cy.s2{	
      -ms-transform: rotate(50deg); 
      -webkit-transform: rotate(50deg); 
      transform: rotate(50deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #cy.s3{	
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #cx.s1{	
      right:0;	
      width:30px;	
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #cx.s2{	
      -ms-transform: rotate(140deg); 
      -webkit-transform: rotate(140deg); 
      transform: rotate(140deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #cx.s3{	
      -ms-transform: rotate(135deg); 
      -webkit-transform: rotate(135deg); 
      transform: rotate(135deg);		 
      -webkit-transition: all 100ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #carousel{
      width:335px;
      height:500px;
      overflow:hidden;
      position:relative;
  
  }
  #carousel ul{
      position:absolute;
      top:0;
      left:0;
  }
  #carousel li{
      width:335px;
      height:500px;
      float:left;
      overflow:hidden;	
  }
  .arrows-perspective{
      width:335px;
      height:55px;
      position: absolute;
      top: 218px;
      transform-style: preserve-3d;
      transition: transform 5s;
      perspective: 335px;
  }
  .carouselPrev, .carouselNext{
      width: 50px;
      height: 55px;
      background: #ccc;
      position: absolute;	
      top:0;
      transition: all 200ms ease-out; 
      opacity:0.9;
      cursor:pointer;
  }
  .carouselNext{
      top:0;
      right: -26px;
      -webkit-transform: rotateY( -117deg );
           -moz-transform: rotateY( -117deg );
             -o-transform: rotateY( -117deg );
                transform: rotateY( -117deg );
                transition: all 200ms ease-out; 			
  
  }
  .carouselNext.visible{
          right:0;
          opacity:0.8;
          background: #efefef;
          -webkit-transform: rotateY( 0deg );
           -moz-transform: rotateY( 0deg );
             -o-transform: rotateY( 0deg );
                transform: rotateY( 0deg );
                transition: all 200ms ease-out; 
  }
  .carouselPrev{		
      left:-26px;
      top:0;
      -webkit-transform: rotateY( 117deg );
           -moz-transform: rotateY( 117deg );
             -o-transform: rotateY( 117deg );
                transform: rotateY( 117deg );
                transition: all 200ms ease-out; 
  
  }
  .carouselPrev.visible{
          left:0;
          opacity:0.8;
          background: #eee;
          -webkit-transform: rotateY( 0deg );
           -moz-transform: rotateY( 0deg );
             -o-transform: rotateY( 0deg );
                transform: rotateY( 0deg );
                transition: all 200ms ease-out; 
  }
  #carousel .x, #carousel .y{
      height:2px;
      width:15px;
      background:#48cfad;
      position:absolute;
      top:31px;
      left:17px;
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);	
  }
  #carousel .x{
      -ms-transform: rotate(135deg); 	
      -webkit-transform: rotate(135deg); 
      transform: rotate(135deg);		
      top:21px;
  }
  #carousel .carouselNext .x{
      -ms-transform: rotate(45deg); 	
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);		
  }
  #carousel .carouselNext .y{
      -ms-transform: rotate(135deg); 	
      -webkit-transform: rotate(135deg); 
      transform: rotate(135deg);		
  }
  
  html {
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);
  }
  
  .page-section {
    padding: 0,1rem 0;
  }
  .page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .page-section .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  
  .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
  
  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }
  
  .btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }
  
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: #fff;
  }
  #mainNav .navbar-nav {
    margin-top: 1rem;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
      margin-top: 0;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #fff;
      background: #1abc9c;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #fff;
      background: #1abc9c;
    }
    #mainNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  }
  .form-floating input.form-control,
  .form-floating textarea.form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
  }
  .form-floating input.form-control:focus,
  .form-floating textarea.form-control:focus {
    box-shadow: none;
  }
  .form-floating label {
    font-size: 1.5rem;
    color: #6c757d;
  }
  
  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }
  
  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(6rem + 104px);
      padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }
  .portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
  }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }
  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }
  
  .portfolio-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
  }
  .portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:#4F5D75;
    color: #fff;
  }
  
  .copyright {
    background-color: #2D3142;
  }
  
  .navbar-color-personal{
    background-color: #2D3142;
  }
  
  .header-color-personal{
    background-color: #5478F0;
  }

  .body-color-ultimate {
    background-color: white;
  }

  .nav-a {
    border-radius: 30px;
  }

  .nav-a:hover {
    background-color: #C5DCDC;
    border-radius: 30px;
    transition: 0.2s;
    color: black !important;
  }

  .nav-name:hover {
   color: #C5DCDC;
  }

  .button {
    color: black !important;
    padding: 12px 30px;
    border-radius: 50px;
    background: #C5DCDC !important;
  }

  .btn-hover:hover {
    background-color: #83C5BE !important;
  }

  .titolo {
    font-family: 'Dancing Script', cursive;
  }

  .font {
    font-size: 80px;
  }

  @media (min-width: 768px) {
    .col-md-6 {
      width: 40%;
    }
  }

  .product {
    padding: 2.5em !important;
    border-radius: 20px;
  }

  .carousel-control-prev-icon{
    background-color: black;
  }


  .carousel-control-next-icon{
    background-color: black;
  }

  .first-search::-webkit-input-placeholder { 
    color: #fff;
}

  .navbar-3 {
    background-color: #2D3142 !important;
  }

  .testo-nav {
    color: white;
  }

  @media (max-width: 450px) {
    #img-card {
      width: 100% !important;
    }
  }
  
  @media (min-width: 451px) and (max-width: 750px) {
    #img-card {
      width: 100%  !important;
    }
  }
  
  @media (min-width: 751px) and (max-width: 990px) {
    #img-card {
      width: 100%  !important;
    }
  }

  .description-overflow-auto {
    white-space: wrap;
    overflow: visible; 
    display: inline;
  }
